<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Welcome to Speech Recognition page</title>
    <style>
        .socialicons img {
            width:40px;
            height:40px;
            margin-right: 20px;
        }

        .span img{
            width:30px;
            height:30px;
            margin-right: 20px;
        }
    </style>

</head>
<body class="text-center bg-dark text-white">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <nav class="nav navbar">
                <li class="navbar-brand lead"><h1 class="lead">Speech Recognition</h1></li>
            </nav>
        </header>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-sm-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible" role="alert" id="alert">
                                <button class="close" data-dismiss="alert">
                                    <small><sup>x</sup></small>
                                </button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% block content %}

        {% endblock %}<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <footer class="footnote bg-light text-dark">
            <div class="inner">
                <p>
                    Developed by Min Han @ Vikrant<span class="span"><img src="/static/icons/mm_flag.png"></span><br>
                    <div class="socialicons"><span>
                    Follow on &nbsp;<a href="https://www.twitter.com/iamVikrantA"><img src="/static/icons/Twitter.png"></a>
                    <a href="https://www.linkedin.com/in/vikrant-agrahari-471b95143"><img src="/static/icons/Linkedin.png" ></a></span>
                    </div>
                </p>
            </div>
        </footer>
    </div>
</body>
</html>